.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.fa-star {
  color: gold;
}

.zindex-dropdown {
  z-index: 1050;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}
