<!-- Booking Section -->
<section class="container booking-section text-center py-5">
    <div class="card shadow p-4 col-md-8 mx-auto">
      <h2 class="mb-3 text-success">Confirm Your Booking</h2>
      <p class="mb-4 fs-5">Proceed with payment to secure your stay at StayNest.</p>
      <!-- <button id="rzp-button" class="btn btn-success px-4 py-2 col-md-4 mx-auto">Pay Now</button> -->
      <button (click)="initiatePayment()" class="btn btn-success px-4 py-2 col-md-4 mx-auto">Pay Now</button>
    </div>
  </section>