<!-- Hero Section -->
<section class="hero bg-light py-5 mb-5">
    <div class="container text-center">
      <h1 class="display-4 fw-bold mb-3">{{ title }}</h1>
      <p class="mb-4">{{ description }}</p>
      <!-- <button (click)="navigateToFindPg()" class="btn btn-primary btn-lg">Search PGs</button> -->
    </div>
</section>

<!-- About Section -->
<section class="container py-5">
  <h2 class="text-center mb-5 titletxt">Why Choose StayNest?</h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="feature-icon fs-1 mb-3">🏠</div>
      <h5>Verified Listings</h5>
      <p>All PGs are verified for quality, amenities, and safety so you don’t have to worry.</p>
    </div>
    <div class="col-md-4 mb-4">
      <div class="feature-icon fs-1 mb-3">📍</div>
      <h5>Smart Filters</h5>
      <p>Filter by location, price, sharing type, and even amenities like Wifi and AC.</p>
    </div>
    <div class="col-md-4 mb-4">
      <div class="feature-icon fs-1 mb-3">💳</div>
      <h5>Online Booking</h5>
      <p>Found the right place? Secure it instantly with online payment. No broker required!</p>
    </div>
  </div>
</section>

<!-- CTA Section -->
<section class="cta-section bg-light py-5 mt-5">
  <div class="container text-center">
    <h3 class="fw-bold mb-3">Start your stay with comfort and confidence</h3>
    <p class="mb-4">Thousands of students and working professionals trust StayNest to find their ideal home away from home.</p>
    <!-- <a href="find-pg.html" class="btn btn-primary btn-lg"></a> -->
    <button (click)="navigateToFindPg()" class="btn btn-primary btn-lg">Explore PGs Now</button>
  </div>
</section>